<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmisiGas"
        tools:targetApi="31">
        <activity
            android:name=".AvgActivity"
            android:exported="false" />
        <activity
            android:name=".onBoarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".tahun.TahunPembuatanActivity"
            android:exported="false" />
        <activity
            android:name=".tips.DetailTipsActivity"
            android:exported="false" />
        <activity
            android:name=".tips.TipsActivity"
            android:exported="false" />
        <activity
            android:name=".vehicle.ChangeVehicleActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ChangeProfileActivity"
            android:exported="false" />
        <activity
            android:name=".result.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".jenis.JenisBbActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCNMhorwYFhgVnpGRzT5A1jiFrvZUN1tw8" />

        <activity
            android:name=".maps.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>